<%= render 'shared/errors' %>

<%= form_for @listing, url: listings_path do |f| %>
  <table>
    <tr>
      <td><%= f.label("Title: ") %></td>
      <td><%= f.text_field :title, placeholder: "Enter title" %></td>
    </tr>

    <tr>
      <td><%= f.label("Address: ") %></td>
      <td><%= f.text_area :address, placeholder: "Enter address of listing" %></td>
    </tr>

    <tr>
      <td><%= f.label("Description: ") %></td>
      <td><%= f.text_area :description, placeholder: "Enter description" %></td>
    </tr>

    <tr>
      <td><%= f.label("Price: ") %></td>
      <td><%= f.text_field :price, placeholder: "Not negative" %></td>
    </tr>
  </table>

  <p>
    <%= f.submit(@listing.new_record? ? "Create listing" : "Update listing")%>
  </p>
<% end %>
