<table>
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Description</th>
    <th>Price</th>
    <th>Creator</th>
    <th>Time Created</th>
  </tr>

  <% obj.each do |listing| %>
    <tr>
      <td><%= link_to("#{listing.title}", listing_path(listing.id)) %></td>
      <td><%= listing.address %></td>
      <td><%= listing.description %></td>
      <td><%= number_to_currency(listing.price) %></td>
      <td><%= link_to("#{listing.user.email}", user_path(listing.user.id)) %></td>
      <td><%= listing.created_at %></td>
    </tr>
  <% end %>
</table>

<% obj.each do |listing| %>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <% if listing.cover? %>
        <%= image_tag listing.cover.url, class: "thumbnail thumb-img" %>
      <% end %>
    </div>
  </div>
<% end %>
