<h1><%= "#{@listing.title}" %></h1>
<br>

<p>
  <%= image_tag @listing.cover.url if @listing.cover? %>
</p>
  Created by <%= @listing.user.firstname %> <%= @listing.user.lastname %>, <%= @listing.user.email %>

<p>
  Description:<br><%= @listing.description %>
</p>
<p>
  Location:<br><%= @listing.address %>
</p>
<p>
  Price: <%= number_to_currency(@listing.price) %>
</p>
