<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>
  <table>
    <tr>
      <td><%= f.label("First Name: ") %></td>
      <td><%= f.text_field :firstname, placeholder: "Enter First Name" %></td>
    </tr>

    <tr>
      <td><%= f.label("Last Name: ") %></td>
      <td><%= f.text_field :lastname, placeholder: "Enter Last Name" %></td>
    </tr>

    <tr>
      <td><%= f.label("email: ") %></td>
      <td><%= f.email_field :email, placeholder: "Enter valid @sjsu email" %></td>
    </tr>

    <% if @user.new_record? %>
      <tr>
        <td><%= f.label("Password: ") %></td>
        <td><%= f.password_field :password, placeholder: "Password Is CASE SENSITIVE" %></td>
      </tr>
    <% end %>
  </table>

  <p>
    <%= f.submit(@user.new_record? ? "Sign up" : "Update")%>
  </p>
<% end %>
