<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>
  <p>
    <%= f.label("First Name: ") %>
    <%= f.text_field :firstname, placeholder: "Enter First Name" %>
  </p>

  <p>
    <%= f.label("Last Name: ") %>
    <%= f.text_field :lastname, placeholder: "Enter Last Name" %>
  </p>

  <p>
    <%= f.label("e-mail: ") %>
    <%= f.email_field :email, placeholder: "Enter e-mail" %>
  </p>

  <% if @user.new_record? %>
    <p>
      <%= f.label("Password: ") %>
      <%= f.password_field :password, placeholder: "Password Is CASE SENSITIVE" %>
    </p>
  <% end %>

  <p>
    <%= f.submit(@user.new_record? ? "Sign up" : "Update")%>
  </p>
<% end %>
