<h1> welcome to <%= "#{@user.firstname} #{@user.lastname}" %>'s page</h1>

<%= gravatar_for @user %>
<p>
  First Name: <%= @user.firstname %>
</p>

<p>
  Last Name: <%= @user.lastname %>
</p>

<p>
  email: <%= @user.email %>
</p>

<% if session[:user_id] == @user.id %>
  <p><%= button_to "Edit info", edit_user_path(id: session[:user_id]) %></p>
<% end %>

<%= render 'listings/listings_table', obj: @user.listings %>
